body{
    background-color: rgb(235, 226, 188);
}

.heading{
    text-align: center;
}

.container{
    display: flex;
    flex-direction:row ;
    justify-content: center;
    gap: 100px;
    align-items: center;
    border: 1px solid brown;
    padding: 10px;
}
img{
    width: 30%;
}
button{
}